*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #000000;  
    background: -webkit-linear-gradient(to top, #434343, #000000);  
    background: linear-gradient(to top, #434343, #000000); 
}

#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#navbar{
    position: absolute;
    top: 0px;
    max-width: 45vmax;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.ball:hover{
    transform: scale(1.5, 1.5);
}

.checkbox:checked + .label .ball{
    transform: translateX(4vmin);
}

.label{
    position: relative;
    background-color: #191919  ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 50px;
    height: 3.5vmin;
    width: 7.5vmin;
}

.ball{
    background-color: #FFA100;
    border-radius: 50%;
    position: absolute;
    height: 3vmin;
    width: 3vmin;
    top: 2px;
    left: 2px;
    transition: transform 0.1s linear;
}

.far, fa-lightbulb{
    font-size: 2vmin;
    color: #f1c40f;
}

.fas, fa-lightbulb{
    font-size: 2vmin;
    color: #f39c12;
}

#about, #contact, #home, #project{
    color: wheat;
    float: left;
    margin: 20px;
    padding-right: 10px;
}

.nav-head, .long{
    position: relative;
    left: 10%;
    font-size: 2vmin;
    padding-right: 10px;
}

.long{
    left: 2%;
}

.about-contant, .project-contant, .contact-contant{
    background: blue;
    opacity: 0.5;
    position: fixed;
    top: 110%;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-contant{
    background: rgb(167, 167, 255);
}

.contact-contant{
    background: yellowgreen;
}

.aboutC{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.contactC{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.projectC{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.contant-border{
    border: 3px solid rgba(255, 77, 77, 0.85);
    border-radius: 18px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.5) inset,
                2px 2px 1px rgba(0,0,0,0.5),
                0 0 25px #fff inset,
                0 0 20px #ff1111 inset,
                0 0 25px #fff,
                0 0 20px #ff1111,
                0 0 25px rgba(245, 179, 179, 0.5);
}

.contants{
    transform: rotate(-5deg);
}

.contant-name{
    font-family:'Montserrat', sans-serif;
    font-size: 6vmax;
    margin: 0 auto;
    text-align: center;
    color: #f5b3b3;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 20px #fff, 0 0 10px #ff1c1c, 0 0 50px #ff4141;
}

.sub-contant{
    position: absolute;
    top:60%;
    left: 40%;
    font-family:'Montserrat', sans-serif;
    font-size: 3vmin;
    color: #f5b3b3;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 10px #fff, 0 0 5px #faa7f6, 0 0 30px #faa7f6;
}

.highFreq{
    animation: blinkfast 0.9s infinite alternate;
}

@keyframes blinkfast {
    70%{opacity: 0.7;}
}

.flicker{
    color: #f5b3b3;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 20px #fff, 0 0 10px #ef8686, 0 0 50px #ef8686;
    animation: flickerer 4s infinite alternate;
}

.flicker2{
    color: #f5b3b3;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 20px #fff, 0 0 10px #ef8686, 0 0 50px #ef8686;
    animation: flickerer 4.5s infinite alternate;
}

.flicker3{
    color: #f5b3b3;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 20px #fff, 0 0 10px #ff0000, 0 0 50px #ff0000;
    animation: flickerer 2s infinite alternate;
}

.flicker4{
    color: #f5b3b3;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 20px #fff, 0 0 10px #ff0000, 0 0 50px #ff0000;
    animation: flickerer 2.5s infinite alternate;
}

@keyframes flickerer{
    40%{opacity: 0.8;}
    42%{opacity: 0.1;}
    43%{opacity: 0.8;}
    45%{opacity: 0.1;}
    46%{opacity: 0.8;}
}

.contant-border-off{
    border: 2px solid rgb(242,243,244,0.8);
    border-radius: 18px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.5) inset,
                2px 2px 1px rgba(0,0,0,0.5);
}

.contant-name-off{
    font-family:'Montserrat', sans-serif;
    font-size: 6vmax;
    margin: 0 auto;
    text-align: center;
    color: #f2f3f4;
}

.sub-contant-off{
    position: absolute;
    top:60%;
    left: 40%;
    font-family:'Montserrat', sans-serif;
    font-size: 3vmin;
    color: #f2f3f4;;
}